@using Newtonsoft.Json;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@using System.Security.Claims;
@{
    var identity = (ClaimsIdentity)User.Identities.LastOrDefault();
    //TODO: use ibrahem services  var LoggedUserId = identity.FindFirst("LoggedUserId")?.Value ?? "LoggedUserId";
    var UserName = identity.FindFirst("Name")?.Value ?? "User name";
    var Email = identity.FindFirst("Email")?.Value ?? "Email";

    var controller = Context.Request.RouteValues.FirstOrDefault(x => x.Key == "controller").Value; 
    var action = Context.Request.RouteValues.FirstOrDefault(x => x.Key == "action").Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ILCWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ILCWebsite.styles.css" asp-append-version="true" />
    <link href="~/js/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/lodaing.css" rel="stylesheet" />
</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="divLoader">
        <div class="lds-spinner loader">

            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ILCWebsite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/ProductHome/create">createProductHome</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/AboutUsHome/create">createAboutUsHome</a>
                        </li>
                        <li>
                            @if(System.Threading.Thread.CurrentThread.CurrentCulture.Name == "ar-EG"){
                            <a class="nav-link text-dark" asp-controller="@controller" asp-action="@action" asp-route-culture="en-US">English</a>

                            }else{
                            <a class="nav-link text-dark" asp-controller="@controller" asp-action="@action" asp-route-culture="ar-EG">Arabic</a>

                            }
                        </li> 
                        @if (!string.IsNullOrWhiteSpace(UserName))
                        { 
                            <li class="nav-item">
                                <a class="nav-link">@UserName</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogOut">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ILCWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/sweetalert2/sweetalert2.min.js"></script>
     
     <script> 
        $('#divLoader').hide();  // Hide it initially 
        $(document).ajaxStart(function () {
            $("#divLoader").show();
        }); 
        $(document).ajaxStop(function () {
            $("#divLoader").hide();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false) 
</body>
</html>
