@model ILC.BL.Models.Admin.HomeSection.Product.ProductHomeVM
@{
    Layout = "_Layout";
}
<!-- Start page content -->
<section id="page-content" class="page-wrapper">

    <!-- PROPERTIES DETAILS AREA START -->
    <div class="properties-details-area pt-115 pb-60">
        <div class="container">
            <div class="row">
                <h3 style="padding-left:18px" class="en">@Model?.TitleEn</h3>
                <h3 style="padding-left:18px" class="ar">@Model?.TitleAr</h3>
                <div class="col-md-4">
                    <div class="pro-details-image mb-60">
                        <div class="pro-details-big-image">
                            <div class="tab-content">
                                @foreach (var image in Model?.Images)
                                {
                                    <div role="tabpanel" class="tab-pane fade @(image == Model?.Images.FirstOrDefault() ? "in active" : "")" id="pro-@(image.Id)">
                                        <a href="@image.ImagePath" data-lightbox="image-@(image.Id)" data-title="@Model?.TitleEn">
                                            <img src="@image.ImagePath" alt="">
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="pro-details-carousel">
                            @foreach (var image in Model?.Images)
                            {
                                <div class="pro-details-item">
                                    <a href="#pro-@(image.Id)" data-toggle="tab">
                                        <img src="@image.ImagePath" alt="">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>

                    <input type="hidden" value="@Model.Id" id="productId"/>
                    <hr />
                    <div class="text-right">
                        <button id="openModalBtn" class="btn btn-primary">Send Inquiry</button>
                    </div>
                    <hr />
                    Similar Products

                    <div class="featured-flat-area pt-115 pb-60">
                        <div class="container">
                            <div class="featured-flat">
                                <div class="row">
                                    @foreach (var item in Model?.SimilarProducts)
                                    {
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="flat-item">
                                                <div class="flat-item-image">
                                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"><img src="@item.ImagePath" alt=""></a>
                                                    <div class="flat-link">
                                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" data-i18n="more-details"></a>
                                                    </div>
                                                    <ul class="flat-desc">
                                                        <li>
                                                            <h5 style="color:white" class="en">@item.TitleEn</h5>
                                                            <h5 style="color:white" class="ar">@item.TitleAr</h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @*  <a href="#">
                        <img src="@item?.ImagePath" alt="">
                    </a>  *@      


                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Send Inquiry</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h2>Modal Content</h2>
                                        <p>This is the content you want to display in the modal.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <!-- pro-details-description -->
                    <h3 data-i18n="AboutProduct"></h3>
                    <div class="pro-details-description mb-50">
                        <p class="en">@Model?.DescriptionEn</p>
                        <p class="ar">@Model?.DescriptionAr</p>
                    </div>
                    <!-- pro-details-short-info -->
                    <div class="pro-details-short-info mb-60">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="pro-details-amenities">
                                    <h3 data-i18n="Properties"></h3>
                                    <div class="pro-details-amenities-inner bg-gray">
                                        <ul class="amenities-list">
                                            @foreach (var item in Model?.Specifications)
                                            {
                                                <li>
                                                    <span style="font-weight:bold" class="en">@item?.TitleEn : </span>
                                                    <span style="font-weight:bold" class="ar">@item?.TitleAr : </span>
                                                    <p style="display:inline" class="en">
                                                        @item?.DescriptionEn
                                                    </p>
                                                    <p style="display:inline" class="ar">
                                                        @item?.DescriptionAr
                                                    </p>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- PROPERTIES DETAILS AREA END -->

</section>
<!-- End page content -->




@section Scripts{  
    <script src="~/js/npm_axios_dist_axios.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/customscript/shared.js"></script>
    <script>


        $(document).ready(function () { 
            $('#openModalBtn').click(function () {
                $.ajax({
                    url: '@Url.Action("Create", "Inquiry")',
                    type: 'GET',
                    success: function (data) {
                        $('#myModal .modal-body').html(data);
                        $('#myModal').modal('show');
                        $('#ProductIdInModel').val($('#productId').val()); 
                        getCountries(); 
                        appendCountryCodes();
                    },
                    error: function () {
                        console.log('Error occurred while fetching data.');
                    }
                });
            }); 
        });



        function getCountries() {
            axios.get('/Admin/Common/GetCountries')
                .then(response => {
                    document.getElementById('CountryId').innerHTML = '<option value="">-select-</option>';
                    response.data.forEach(country => {
                        const option = document.createElement('option');
                        option.value = country.id;
                        option.textContent = country.name;
                        document.getElementById('CountryId').appendChild(option);
                    });

                    // Add event listener to country dropdown
                    document.getElementById('CountryId').addEventListener('change', function () {
                        const selectedCountryId = this.value;
                        getCities(selectedCountryId);
                    });
                })
                .catch(error => {
                    console.error('Error occurred while fetching countries.', error);
                });
        }



        function getCities(countryId) {
            axios.get(`/Admin/Common/GetCities?countryId=${countryId}`)
                .then(response => {
                    document.getElementById('CityId').innerHTML = '<option value="">-select-</option>';
                    response.data.forEach(city => {
                        const option = document.createElement('option');
                        option.value = city.id;
                        option.textContent = city.name;
                        document.getElementById('CityId').appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error occurred while fetching cities.', error);
                });
        }
        function CreateInquiry(e) { 
            if (e) {
                e.preventDefault();
                e.returnValue = false;
            }
            var form = $('#CreateInquiryForm').serialize(); 
            axios.post('/Inquiry/Create', form)
                .then(res => {
                    console.log(res);
                    $("#divLoader").hide();
                    if (res && res.data && res.data.success) {
                        if (res.data.success) {
                            swal.fire({
                                icon: "success",
                                title: "Success",
                                text: res.data.message,
                            }).then(function () {
                                window.location.reload();
                            });
                        }
                        else {
                            swal.fire({
                                icon: "warning",
                                title: "Failed",
                                text: res.data.message
                            });
                        }
                    }
                })
                .catch(error => {
                    console.error('An error occurred:', error);
                });
        }


        function appendCountryCodes() {
            var countryCodeSelect = document.getElementById('CountryCodeId'); 
            var countryCodes = [ 
                { code: '+93', name: 'Afghanistan' },
                { code: '+355', name: 'Albania' },
                { code: '+213', name: 'Algeria' },
                { code: '+376', name: 'Andorra' },
                { code: '+244', name: 'Angola' },
                { code: '+672', name: 'Antarctica' },
                { code: '+54', name: 'Argentina' },
                { code: '+374', name: 'Armenia' },
                { code: '+297', name: 'Aruba' },
                { code: '+61', name: 'Australia' },
                { code: '+43', name: 'Austria' },
                { code: '+994', name: 'Azerbaijan' },
                { code: '+973', name: 'Bahrain' },
                { code: '+880', name: 'Bangladesh' },
                { code: '+375', name: 'Belarus' },
                { code: '+32', name: 'Belgium' },
                { code: '+501', name: 'Belize' },
                { code: '+229', name: 'Benin' },
                { code: '+975', name: 'Bhutan' },
                { code: '+591', name: 'Bolivia' },
                { code: '+387', name: 'Bosnia and Herzegovina' },
                { code: '+267', name: 'Botswana' },
                { code: '+55', name: 'Brazil' },
                { code: '+673', name: 'Brunei Darussalam' },
                { code: '+359', name: 'Bulgaria' },
                { code: '+226', name: 'Burkina Faso' },
                { code: '+257', name: 'Burundi' },
                { code: '+238', name: 'Cabo Verde' },
                { code: '+855', name: 'Cambodia' },
                { code: '+237', name: 'Cameroon' },
                { code: '+1', name: 'Canada' },
                { code: '+236', name: 'Central African Republic' },
                { code: '+235', name: 'Chad' },
                { code: '+56', name: 'Chile' },
                { code: '+86', name: 'China' },
                { code: '+57', name: 'Colombia' },
                { code: '+269', name: 'Comoros' },
                { code: '+506', name: 'Costa Rica' },
                { code: '+385', name: 'Croatia' },
                { code: '+53', name: 'Cuba' },
                { code: '+357', name: 'Cyprus' },
                { code: '+420', name: 'Czech Republic' },
                { code: '+243', name: 'Democratic Republic of the Congo' },
                { code: '+45', name: 'Denmark' },
                { code: '+253', name: 'Djibouti' },
                { code: '+1-767', name: 'Dominica' },
                { code: '+1-809', name: 'Dominican Republic' },
                { code: '+670', name: 'East Timor' },
                { code: '+593', name: 'Ecuador' },
                { code: '+20', name: 'Egypt' },
                { code: '+503', name: 'El Salvador' },
                { code: '+240', name: 'Equatorial Guinea' },
                { code: '+291', name: 'Eritrea' },
                { code: '+372', name: 'Estonia' },
                { code: '+251', name: 'Ethiopia' },
                { code: '+679', name: 'Fiji' },
                { code: '+358', name: 'Finland' },
                { code: '+33', name: 'France' },
                { code: '+594', name: 'French Guiana' },
                { code: '+689', name: 'French Polynesia' },
                { code: '+241', name: 'Gabon' },
                { code: '+220', name: 'Gambia' },
                { code: '+995', name: 'Georgia' },
                { code: '+49', name: 'Germany' },
                { code: '+233', name: 'Ghana' },
                { code: '+350', name: 'Gibraltar' },
                { code: '+30', name: 'Greece' },
                { code: '+299', name: 'Greenland' },
                { code: '+1-473', name: 'Grenada' },
                { code: '+590', name: 'Guadeloupe' },
                { code: '+502', name: 'Guatemala' },
                { code: '+224', name: 'Guinea' },
                { code: '+245', name: 'Guinea-Bissau' },
                { code: '+592', name: 'Guyana' },
                { code: '+509', name: 'Haiti' },
                { code: '+504', name: 'Honduras' },
                { code: '+852', name: 'Hong Kong' },
                { code: '+36', name: 'Hungary' },
                { code: '+354', name: 'Iceland' },
                { code: '+91', name: 'India' },
                { code: '+62', name: 'Indonesia' },
                { code: '+98', name: 'Iran' },
                { code: '+964', name: 'Iraq' },
                { code: '+353', name: 'Ireland' },
                { code: '+972', name: 'Israel' },
                { code: '+39', name: 'Italy' },
                { code: '+225', name: 'Ivory Coast' },
                { code: '+81', name: 'Japan' },
                { code: '+962', name: 'Jordan' },
                { code: '+7', name: 'Kazakhstan' },
                { code: '+254', name: 'Kenya' },
                { code: '+686', name: 'Kiribati' },
                { code: '+965', name: 'Kuwait' },
                { code: '+996', name: 'Kyrgyzstan' },
                { code: '+856', name: 'Laos' },
                { code: '+371', name: 'Latvia' },
                { code: '+961', name: 'Lebanon' },
                { code: '+266', name: 'Lesotho' },
                { code: '+231', name: 'Liberia' },
                { code: '+218', name: 'Libya' },
                { code: '+423', name: 'Liechtenstein' },
                { code: '+370', name: 'Lithuania' },
            ]; 
            // Clear existing options
            countryCodeSelect.innerHTML = ''; 

            // Append select option
            var optionSelect = document.createElement('option');
            optionSelect.value = "";
            optionSelect.textContent = '-Select-';
            countryCodeSelect.appendChild(optionSelect);

            // Append new options
            countryCodes.forEach(function (country) {
                var option = document.createElement('option');
                option.value = country.code;
                option.textContent = country.code + ' (' + country.name + ')';
                countryCodeSelect.appendChild(option);
            });
        }
         



    </script>
}
