@model ILC.BL.Models.Admin.HomeSection.Slider.SliderHomeVM

<div class="slider-1 pos-relative slider-overlay">
    <div class="bend niceties preview-1 ">
        <div id="ensign-nivoslider-3" class="slides">
            <img src="@Model.ImagePath" alt="" title="#slider-direction-1" />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="slider-direction ">
            <div class="slider-content text-center en">
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4 class="slider-1-title-1">Welcome to <span>ILC</span></h4>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <h1 class="slider-1-title-2"> @Model.SecondtHeadTextEn@*FIND YOUR DREAM ELEVATOR WITH US*@</h1>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                    <p class="slider-1-desc">
                        @Model.ParagraphEn
                        @*Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit
                        amet <br> contetur adipiscing elit, sed do eiusmod tempor incididunt*@
                    </p> @*Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit
                        amet  contetur adipiscing elit, sed do eiusmod tempor incididunt*@
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                    @*<a class="slider-button mt-40" href="#">Read More</a>*@
                </div>
            </div>

            <div class="slider-content text-center ar">
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4 class="slider-1-title-1">مرحبا بك فى <span> إنشاءات المتميزة للصناعة </span></h4>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <h1 class="slider-1-title-2">@*نساعدك لتصعد بنجاحك إلى السماء*@ @Model.SecondHeadTextAr</h1>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                    <p class="slider-1-desc">
                        @*شرح عن بعض خدماتنا شرح عن بعض خدماتنا شرح عن بعض خدماتنا شرح عن بعض
                        خدماتنا شرح عن بعض خدماتنا شرح عن بعض خدماتنا شرح عن بعض خدماتنا شرح عن بعض خدماتنا شرح
                        عن بعض خدماتنا شرح عن بعض خدماتنا شرح عن بعض خدماتنا*@
                        @Model.ParagraphAr
                    </p>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                    @*<a class="slider-button mt-40" href="#">إقرأ المزيد</a>*@
                </div>
            </div>
        </div>
    </div>


</div>