@model List<ILC.BL.Models.Admin.HomeSection.Staff.StaffHomeVM>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="section-title-2 text-center">
                <h2 data-i18n="OUR-STAFF"></h2>
                <p data-i18n="OUR_STAFF_DESC"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="agents-carousel">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6  col-md-4">
                    <div class="single-agent">
                        <div class="agent-image">
                            <img src="@item.ImagePath" height="250" alt="">
                        </div>
                        <div class="agent-info">
                            <div class="agent-name">
                                <h5 class="en"><a href="agent-details.html">@item.TitleEn</a></h5>
                                <h5 class="ar"><a href="agent-details.html">@item.TitleAr</a></h5> 
                                <p class="en">@Truncate(item.DescriptionEn, 25)</p>
                                <p class="ar">@Truncate(item.DescriptionAr, 25)</p>

                            </div>
                        </div>
                        <div class="agent-info-hover">
                            <div class="agent-name">
                                <h5 class="en"><a href="agent-details.html">@item.TitleEn</a></h5>
                                <h5 class="ar"><a href="agent-details.html">@item.TitleAr</a></h5>

                                <p class="en">@item.DescriptionEn</p>
                                <p class="ar">@item.DescriptionAr</p>
                               
                            </div>
                            <ul class="agent-address">
                                <li><img src="~/images/icons/phone-2.png" alt="">@item.Mobile </li>
                                <li><img src="~/images/icons/mail-close.png" alt="">@item.Email </li>
                            </ul>
                            <ul class="social-media">
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                 </div>
            }
            
        </div>


    </div>
</div>


@functions {
    public string Truncate(string input, int maxLength)
    {
        if (input.Length > maxLength)
        {
            return input.Substring(0, maxLength) + "...";
        }
        return input;
    }
}