@model List<ILC.BL.Models.Admin.HomeSection.Downloads.DownloadVM>
@using System.Globalization
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs">
                    <h2 class="breadcrumbs-title" data-i18n="Services"></h2>
                    <ul class="breadcrumbs-list">
                        <li><a href="index.html" data-i18n="Home"></a></li>
                        <li data-i18n="Services"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="page-content" class="page-wrapper">
    <!-- FEATURED FLAT AREA START -->
    <div class="featured-flat-area pt-115 pb-60">
        <div class="container">
            <div class="featured-flat">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="recent-post-image">
                                <a asp-controller="Home" asp-action="DownloadFile" asp-route-id="@item.Id"><img src="~/images/file.png" alt=""></a>
                            </div>
                            <a class="en">@item.TitleEn</a>
                            <a class="ar">@item.TitleAr</a>
                            <p class="en">@item.DescriptionEn</p>
                            <p class="ar">@item.DescriptionAr</p>
                            <p>
                                <a asp-controller="Download" asp-action="ViewFile" asp-route-id="@item?.Id" target="_blank" class="material-tooltip-main btn btn-info btn-floating btn-sm my-0 p-0 m-0 ml-1"
                                   title="View File" data-toggle="tooltip">
                                    <i style="width: 40px; padding: 5px;" class="fas fa-file-pdf"></i>
                                </a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>
